/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf');
    src: url('fonts/norse-bold-webfont.woff') format('woff'), url('fonts/norse-bold-webfont.woff2') format('woff2');
}

:root {
    --clr-off-white: #f9fafb;
    --clr-light-grey: #e5e7eb;
    --clr-light-blue: #4269d7;
    --clr-dark-blue: #1f2937;

    --padding-main: 2.5rem;

    --fs-md: 1.4rem;
}

body {
    display: flex;
    height: 100svh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--clr-off-white);
}

.logo {
    align-items: center;
    background-image: url(images/bg.jpg);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-width: 250px;
    padding: 0.5rem 0;
    max-width: 45vw;
    flex: 1;
}

.logo__container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    height: 130px;
    justify-content: center;
    margin-top: 12rem;
    padding: 0.5rem 0;
    width: 100%;
}

.logo__img {
    max-height: 100%;
}

.logo__header {
    font-family: 'Norse Bold';
    font-size: 5rem;
}

.attribute {
    text-align: center;
    font-size: 0.9rem;
}

.attribute a {
    color: white;
}

main {
    margin: auto 0;
    flex: 1;
}

.introduction {
    width: 85ch;
    padding: 0 var(--padding-main);
    margin-bottom: 3.5rem;
}

.introduction p {
    font-weight: 600;
    font-size: var(--fs-md);
}

.signup__card {
    background-color: white;
    box-shadow: 0px 5px 10px lightgrey;
    padding: 1.5rem var(--padding-main);
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;
}

.signup__header {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--clr-dark-blue);
    margin-bottom: var(--fs-md);
}

.signup__container {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 1rem 4rem;
}

.signup__field {
    display: flex;
    flex-flow: column nowrap;
}

.signup__field label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.signup__field input {
    appearance: none;
    border-radius: 5px;
    border: 1px solid var(--clr-light-grey);
    padding: 0.2rem 0.8rem;
}

.signup__field input:focus {
    outline: 2px solid var(--clr-light-blue);
    box-shadow: 3px 3px 5px lightgrey;
}
